<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "{% static 'project/style.css' %}" rel = "stylesheet">
    <link href = "{% static 'project/css/bootstrap.min.css' %}" rel = "stylesheet">

</head>

<body>

    <div class = "navbar navbar-inverse">
        <div class = "container">

            <a href = "#" class = "navbar-brand">
                MY SITE
            </a>
            <button type = "button" class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
                <span class = "icon-bar"></span>
                <span class = "icon-bar"></span>
                <span class = "icon-bar"></span>
            </button>
            <div class = "collapse navbar-collapse navHeaderCollapse">

                <ul class = "nav navbar-nav navbar-right">
                    <li class = "active"><a href = "#">Home</a></li>
                    <li class = "dropdown">
                        <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">Products<b class = "caret"></b></a>
                            <ul class = "dropdown-menu">
                                <li><a href = "#">Art</a></li>
                                <li><a href = "#">Gifts</a></li>
                                <li><a href = "#">Cakes</a></li>
                            </ul>
                    </li>
                    <li><a href = "#">About</a></li>
                    <li><a href = "#">Blog</a></li>
                    <li><a href = "#">Contact</a></li>
                </ul>

            </div>
        </div>
    </div>

    <div class = "container">
        <div class = "row">

            <div class = "col-lg-9">
                <div class = "panel panel-default">
                    <div class = "panel-body">
                        <div class = "page-header">
                            <h3>Blogs Here <small> Posted on 8 july.</small></h3>
                        </div>

                        <img class = "featuredImg" src = "{% static 'project/img/img.jpg' %}" width = 100%/>
                        <p>
                           Hello this is a test.Hello this is a test.Hello this is a test.Hello this is a test.Hello this is a test.
                           Hello this is a test.Hello this is a test.Hello this is a test.Hello this is a test.Hello this is a test.
                        </p>
                        <h3>New Heading</h3>
                        <p>
                           Hello this is a test.Hello this is a test.Hello this is a test.Hello this is a test.Hello this is a test.
                           Hello this is a test.Hello this is a test.Hello this is a test.Hello this is a test.Hello this is a test.
                        </p>
                    </div>
                </div>
            </div>

            <div class = "col-lg-3">
                <div class = "list-group">
                    <a href = "#" class = "list-group-item">
                        <h3 class = "list-group-item-heading">New Heading</h3>
                        <p class = "list-group-item-text">Hello this is a test.Hello this is a test.Hello this is a test.Hello this is a test.Hello this is a test.
                           Hello this is a test.Hello this is a test.Hello this is a test.Hello this is a test.
                        </p>
                    </a>
                    <a href = "#" class = "list-group-item">
                        <h3 class = "list-group-item-heading">New Heading</h3>
                        <p class = "list-group-item-text">Hello this is a test.Hello this is a test.Hello this is a test.Hello this is a test.Hello this is a test.
                           Hello this is a test.Hello this is a test.Hello this is a test.Hello this is a test.
                        </p>
                    </a>
                    <a href = "#" class = "list-group-item">
                        <h3 class = "list-group-item-heading">New Heading</h3>
                        <p class = "list-group-item-text">Hello this is a test.Hello this is a test.Hello this is a test.Hello this is a test.Hello this is a test.
                           Hello this is a test.Hello this is a test.Hello this is a test.Hello this is a test.
                        </p>
                    </a>
                    <a href = "#" class = "list-group-item">
                        <h3 class = "list-group-item-heading">New Heading</h3>
                        <p class = "list-group-item-text">Hello this is a test.Hello this is a test.Hello this is a test.Hello this is a test.Hello this is a test.
                           Hello this is a test.Hello this is a test.Hello this is a test.Hello this is a test.
                        </p>
                    </a>
                    <a href = "#" class = "list-group-item">
                        <h3 class = "list-group-item-heading">New Heading</h3>
                        <p class = "list-group-item-text">Hello this is a test.Hello this is a test.Hello this is a test.Hello this is a test.Hello this is a test.
                           Hello this is a test.Hello this is a test.Hello this is a test.Hello this is a test.
                        </p>
                    </a>

                </div>
            </div>

        </div>
    </div>





    <div class = "navbar navbar-default navbar-fixed-bottom">
        <div class = "container">
            <p class = "navbar-text pull-left"> Site by KARTIK SHARMA</p>
            <a class = "navbar-btn btn-danger pull-right btn">Subscribe on YouTube</a>
        </div>
    </div>

    <script src = "{% static 'project/js/bootstrap.js' %}"></script>
    <script src = "{% static 'project/js/bootstrap.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>